.footer {
  display: flex;
  padding: 10px;
  background-color: #0000004b;
  color: #fff;
  max-height: 150px;
  position: relative;
  gap: 20px;
  border-radius: 10px;
  justify-content: space-between;
  margin-top: 95px;
}

.footer__text {
  font-weight: bold;
}

.footer__column-center {
  max-width: 650px;
  position: relative;
}

.footer__image {
  width: 300px;
  height: 90px;
  border-radius: 10px;
}

.footer__column-right {
  display: flex;
  max-width: 125px;
  text-align: center;
  position: relative;
  z-index: 1;
}

.footer__column-left {
  position: relative;
  z-index: 1;
  max-width: 150px;
}
