.spin {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 142px;
  font-size: 32px;
  margin: 0;
}

.spin__content {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 35px;
  width: 500px;
}

.spin__levels {
  padding: 15px 40px;
}

.spin__name {
  margin: 0;
}

.spin__btn {
  border-radius: 25px;
  width: 122px;
  height: 33.63px;
  font-size: 16px;
  background-color: #293f50;
  color: #fff;
  cursor: pointer;
  border: none;
  display: inline-block;
  text-align: center;
  line-height: 30px;
  appearance: none;
  -webkit-appearance: none;
  position: relative;
}

.spin__btn::before {
  content: attr(value);
  text-transform: capitalize;
}

.spin__btn:hover {
  background-color: #62b8a6;
  transform: translateY(-5px);
}

.spin__btn:checked {
  background-color: #62b8a6;
  transform: translateY(-5px);
}

.spin__radio-group {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.spin__radio-group label {
  display: inline-block;
  text-align: center;
  line-height: 30px;
}

.spin__wheel {
  height: 475px;
  width: 475px;
  margin-right: 0;
  padding: 360px, 175px, 230px, 765px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.spin__wheel-arrow {
  display: flex;
  width: 73.64px;
  height: 85.88px;
  padding-bottom: 540px;
  position: absolute;
  z-index: 1;
}

.spin__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.spin__submit {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  position: absolute;
  z-index: 2;
}

.spin__submit-image {
  width: 75px;
  height: auto;
}
