@import url(../blocks/page.css);
@import url(../blocks/header.css);
@import url(../blocks/spin.css);
@import url(../blocks/footer.css);
@import url(../blocks/tips.css);
@import url(../blocks/modal.css);

@font-face {
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: normal;
  src: url(../fonts/KumbhSans-VariableFont.ttf) format("truetype");
}
